@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
.notess {
    float:right;
    margin-top: 60px;
}
li {
font-family: "Cairo", sans-serif;
 list-style-type: none;
 padding-top:6px;
 font-weight :bold;
 font-size:20px
 list-style-position: outside;
 /*padding-left: 500px;*/
 margin-left:0px
}