@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
/*
     thead {
    background-color: #95A5A6;
    font-family: "Cairo", sans-serif;
    color: #6C7A89;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  td {
    font-family: "Cairo", sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }

*/

table {
  page-break-inside: auto;
  font-family: "Cairo", sans-serif;
}
body {
  font-family: Arial, sans-serif;
}

.invoice-table {
  width: 100%;
  /* border-collapse: collapse; */
  margin: 20px 0;
  border: none;
}

.invoice-table th,
.invoice-table td {
  /* border: 1px solid #000; */
  padding: 10px;
  text-align: left;
}

.invoice-table th {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

.invoice-table td {
  text-align: left;
}
.invoice-table th:first-child,
.invoice-table td:first-child {
  border-left: none; /* Remove the left border of the first column */
}

.invoice-table .left {
  text-align: left;
}

.invoice-table .subtotal,
.invoice-table .total,
.invoice-table .tax {
  font-weight: bold;
  background-color: #f8f8f8;
}

.invoice-table .total {
  font-size: 18px;
}

.invoice-table td:last-child {
  font-weight: normal;
  border-right: none; /* Remove the right border of the last column */
}
