@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
/*
     thead {
    background-color: #95A5A6;
    font-family: "Cairo", sans-serif;
    color: #6C7A89;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  td {
    font-family: "Cairo", sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }

*/

* {
  /* Change your font family */
  font-family: "Cairo", sans-serif;
}
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
thead {
  background-color: black;
  color: white;
}
