@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@1,200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
.header {
  overflow: hidden; /* To clear floats */
  /* Ensure full width of the parent container */

  border-bottom: 4px double black;
  /*padding-left: 50px;*/
  color: black;
  font-family: "Cairo", sans-serif;
  padding-bottom: 15px;
}

.page-number {
  display: inline-block;
  width: 50%;
  text-align: end;
}

.company-details {
  display: inline-block;
  text-align: end;
  width: 35%;
  font-size: 15px;
}
.company-details strong {
  display: block;
}
.company-logo {
  display: inline-block;
  width: 10%;
}
/*-----------------------------------------------------------------------------------*/
/*page*/
